PORT=8080
CLIENT_ORIGINS=http://localhost:5173;;;http://localhost:3001

# Postgres DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=

# pgAdmin credentials
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=