# Server Configuration
PORT=8080

# CORS Configuration
CLIENT_ORIGINS=http://localhost:5173;;;http://localhost:3001

# Postgres DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback

# JWT Secret
JWT_SECRET=